
div.formSignUp
{
    text-align: start;
    justify-content: center;
    align-items: center;
    display: table;
    width: 100%;
}

.formSignUp {
    background-color: #edf0f4;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    font-size: 28px;
    display: table;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 33%;
    margin-right: 33%;
} 

.dataSignUp {
    width: 100%;
    color: #1B2D2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.inputSignUp {
    padding-top: 16px;
    box-sizing: border-box;
    outline: none;
    border: solid 2px #c9d3dd;
    margin-top: 20px;
    border-radius: 4px;
    color: #292929;
    width: 80%;
    font-size: 14px;
    background: #FFF;
}

.btnSignUp {
    padding-top: 16px;
    width: 80%;
    color: #FFF;
    padding: 12px;
    font-size: 14px;
    font-weight: bold; 
    border: solid 2px #29323d;
    border-radius: 4px;
    background: #29323d;
    cursor: pointer;
    margin-top: 20px;
}