body, html {   
    width: 100%;
    height: 100%;
    display:table;
}
body {
    display:table-cell;
    vertical-align:middle;
}


div.formSignIn
{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    display: table;
    width: 100%;
}


form {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    border-left: 50px;
    /* text-align: left; */
    background-color: #edf0f4;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    font-size: 28px;
    display:table;/* shrinks to fit content */
    margin:auto;
} 

.dataSignIn {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    color: #1B2D2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.inputSignIn {
    padding-top: 16px;
    box-sizing: border-box;
    outline: none;
    border: solid 2px #c9d3dd;
    margin-top: 20px;
    border-radius: 4px;
    color: #292929;
    width: 80%;
    font-size: 14px;
    background: #FFF;
}

.btnSignIn {
    padding-top: 16px;
    width: 80%;
    /* min-width: 280px; */
    color: #FFF;
    padding: 12px;
    font-size: 14px;
    font-weight: bold; 
    border: solid 2px #29323d;
    border-radius: 4px;
    background: #29323d;
    cursor: pointer;
    margin-top: 20px;
}